extends ./layout.pug
include ./managedPlaylists/editPlaylistForm.pug

block content
	.container
		
		.row.my-4
			.col
				h4 Managed Playlists
			.col
				a.btn.btn-primary(href="/me/managed-playlists/new") + New managed playlist

		table.table
			tbody
				each playlist in [{},{}]
					+editPlaylistForm(playlist) 
