extends ./layout.pug
//- include ./managedPlaylists/editPlaylistForm.pug

block content
	.container
		.row.mb-3
			.col
				p.h4.d-inline-block.mr-3 Managed Playlists
				a.btn.btn-primary(href="/me/managed-playlists/new") + New

		table.table
			tbody
