extends layout.pug

block append head
	script(src="/static/frontpage.js")

block body
	.container.login-button-wrapper
		button.login-button(type="button", data-href="/auth/spotify") Connect with spotify
