html
	head
		block title
			title spotifytools

		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.css")
		link(rel="stylesheet", href="/static/index.css")

		script(src="/static/jquery.js")
		script(src="/static/bootstrap/js/bootstrap.js")

		block head

	body
		block body
