html {
	font-size: 0.6rem;
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

.login-button-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.login-button {
	user-select: none;
	border: none;
	font-weight: 900;
	color: #1DB954;
	text-decoration: none;
	font-size: 5rem;
	height: 5rem;
	margin: inherit auto;
	text-align: center;
	
	display: block;

	box-sizing: border-box;

	transition-property: transform;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.login-button:hover,.login-button:active {
	text-decoration: underline;
	cursor: pointer;
}

.login-button:active {
	transform: scale(.6);
}

.logout-link {
	line-height: 5rem;
}

