html {
	/* font-size: 0.6rem; */
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

.login-button-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.login-button {
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 1.1em;
	user-select: none;
	border: none;
	text-decoration: none;
	border-radius: 200px;
	margin: 0px auto;
	padding: 10px 40px;
	text-align: center;

	display: block;
	box-sizing: content-box;
	transition-property: transform, background-color, color;
	transition-duration: .1s, .1s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

	color: #1DB954;
	background-color: #fff;
}

.login-button:hover,.login-button:active {
	cursor: pointer;
	/* background-position-x: 00px; */
	transform: scale(1.1);
	background-position: 0px 0px;
	color: #fff;
	background: #1DB954;
}

.login-button:active {
	background: #1DB954;
	transform: scale(0.9);
}

.logout-link {
	line-height: 5rem;
}

